<p class="postAndCommentInfoLine">Posted by '{{comment?.userName}}' on {{comment?.date | date : 'EEE d.M.yyyy'}} at {{comment?.date | date : 'H:mm'}}</p>
<p>{{comment?.body}}</p>
<div ng-show="loggedInUser" class="btn-group commentEditAndDeleteButtons" role="group" aria-label="...">
	<div [hidden]="!loggedInUser || showEditCommentDiv">
		<a class="btn btn-default" (click)="edit()"><span class="glyphicon glyphicon-edit"></span> Edit</a>
		<a class="btn btn-default" (click)="delete()"><span class="glyphicon glyphicon-remove"></span> Delete</a>
	</div>

	<div [hidden]="!loggedInUser || !showEditCommentDiv">
		<comment-form [comment]="comment" (editFinished)="commentEdited($event)"></comment-form>
	</div>
</div>