<div class="commentSection">
	<div class="commentSectionHeading">
		<h2>Comments:</h2>
		<div [hidden]="showAddCommentDiv">
			<button class="btn btn-default customButtom pull-right" (click)="addComment()"><span class="glyphicon glyphicon-plus"></span> Add a comment
			</button>
		</div>
	</div>
	<div [hidden]="!showAddCommentDiv">
		<edit-comment (editFinished)="commentEdited($event)"></edit-comment>
	</div>
	<div class="blogPostComment" *ngFor="let comment of post?.comments">
		<comment [comment]="comment"></comment>
	</div>
</div>