<div class="container">
	<div [hidden]="!loggedInUser || showEditPostDiv">
		<button class="btn btn-default customButtom pull-right" (click)="deletePost()">
			<span class="glyphicon glyphicon-remove"></span> Delete
		</button>
		<button class="btn btn-default customButtom pull-right" (click)="editPost()">
			<span class="glyphicon glyphicon-edit"></span> Edit
		</button>
		
	</div>
	<br>
	<div [hidden]="!loggedInUser || !showEditPostDiv">
		<edit-post (editFinished)="postEdited($event)"></edit-post>
	</div>
	<br><br>
	<div class="blogPost">
		<div class="blogPostBody">
			<div [innerHTML]="post?.body"></div>
		</div>
	</div>
	<comment-section [post]="post"></comment-section>
</div>		