<div class="container">
	<div [hidden]="showAddPostDiv || !loggedInUser">
		<button class="btn btn-default customButtom pull-right" (click)="addPost()"><span class="glyphicon glyphicon-plus"></span> Add a post
		</button>
	</div>
	<br>
	<div [hidden]="!showAddPostDiv">
		<edit-post (editFinished)="editFinished($event)"></edit-post>
	</div>
    <br>
	<div class="blogPostPanel" infinite-scroll (scrolled)="onScrollDown()" infiniteScrollDistance="0" infiniteScrollThrottle="300" infiniteScrollDisabled="true">
		<div *ngIf="posts">
			<div *ngFor="let post of posts">
				<a [routerLink]="['/posts', post._id]" class="hvr-grow-shadow">
					<div class="blogPostListBox">
						<div class="blogPostListItem">
								<h2>{{post.title}}</h2>
								<p>Posted on {{post.date | date : 'EEE d.M.yyyy'}} at {{post.date | date : 'H:mm'}}</p> 
						</div>
					</div>
				</a>
			</div>
		</div>
	</div> 
	<div *ngIf="posts && !posts.length && postsLoaded" class="text-center">
		<h4 *ngIf="loggedInUser">Click on 'Add a post' to add your first post</h4>
		<h4 *ngIf="!loggedInUser">Echo!?! No posts yet, check back later!</h4>
	</div>  
</div>