<div class="container">
	<button class="btn btn-default customButtom pull-right" ng-show="loggedInUser" ng-click="showModal()"><span class="glyphicon glyphicon-plus"></span> Add a post
	</button>
	
	<br>
    <br>
	<div class="blogPostPanel" infinite-scroll (scrolled)="onScrollDown()" infiniteScrollDistance="0" infiniteScrollThrottle="300" infiniteScrollDisabled="true">
		<div *ngIf="posts">
			<div *ngFor="let post of posts">
				<a [routerLink]="['/posts', post._id]" class="hvr-grow-shadow">
					<div class="blogPostListBox">
						<div class="blogPostListItem">
								<h2>{{post.title}}</h2>
								<p>Posted on {{post.date | date : 'EEE d.M.yyyy'}} at {{post.date | date : 'H:mm'}}</p> 
						</div>
					</div>
				</a>
			</div>
		</div>
	</div> 
	<div *ngIf="posts && !posts.length && postsLoaded" class="text-center">
		<h4 *ngIf="loggedInUser">Click on 'Add a post' to add your first post</h4>
		<h4 *ngIf="!loggedInUser">Echo!?! No posts yet, check back later!</h4>
	</div>  

</div>

<script>

tinymce.init({
  selector: 'textarea',
  height: 500,
  menubar: false,
  plugins: [
    'advlist autolink lists link image charmap print preview anchor',
    'searchreplace visualblocks code fullscreen',
    'insertdatetime media table contextmenu paste code'
  ],
  toolbar: 'undo redo | insert | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
  content_css: '//www.tinymce.com/css/codepen.min.css'
});
</script>


