<h2>Add a new post</h2>
<div class="form-group">
	<label for="title">Title</label>
	<input *ngIf="editPost" type="text" id="title" class="form-control" [(ngModel)]="editPost.title" placeholder="Enter title" maxlength="40">
	<br>
	<simple-tiny (onChange)="setPostBody($event)" [elementId]="'my-editor-id'"></simple-tiny>
	<button class="btn btn-default customButtom pull-right" (click)="cancel()"><span class="glyphicon glyphicon-remove"></span> Cancel
		</button>
	<button class="btn btn-default customButtom pull-right" (click)="savePost()"><span class="glyphicon glyphicon-ok"></span> Save
		</button>
</div>